body {
  font-family: sans-serif;
  padding: 0 20px;
}

.index-body,
.contact-body,
.photo-body {
  background-color: rgb(247, 222, 189);
}

h1 {
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

h1,
h4 {
  color: #6651b9;
  text-align: center;
}
